<% tasks_done = rand(5) %>
  <div class="left-tab" style="background-color: <%= set_color_by_study(exam) %>;">
  </div>

  <div class="right-tab">
    <div class="heading">
      <div class="patient-name"><%= format_name(exam.patient.name) %></div>
    </div>

    <div class="body">
      <div class="procedure"><%= exam.procedure.description %></div>
    </div>

    <div class="footer">
      <div class="consent"><i class="fa fa-handshake-o <%= rand(2) == 0 ? '' : '' %>"></i></div>
      <div class="paperwork"><i class="fa fa-file-text <%= rand(2) == 0 ? '' : '' %>"></i></div>
    <!--<div class="task-count"><%= tasks_done %> of 4</div>-->
    </div>
  </div>

  <div class="hide data" data-exam-id="<%= exam.getId %>" data-tasks-done="<%= tasks_done %>"></div>
