<% content_for(:javascript_includes, javascript_include_tag("pages/guide")) %>
<%= render partial: "main/board_basics" %>

<!-- Major/Page Templates -->
<script class="handlebars-template" id="t-workspace-loading" type="text/x-handlebars-template">
  <%= image_tag("ajax-loader.gif") %>
</script>

<script class="handlebars-template" id="t-calendar" type="text/x-handlebars-template">


  <div id="board-headings">
    <div id="white-spacer">
    </div>

    <table id="time-headings">
      <tbody>
	<tr class="heading">
	  <td></td>
	  {{#each resources}}
	  {{> resourceHeading}}
	  {{/each}}
	</tr>
      </tbody>
    </table>
  </div>


  <div id="board">

    <table id="vertical-time-headings">
      <tbody>
	<tr>
	  <td>
	    {{#each hours}}
	    {{> hour}}
	    {{/each}}
	  </td>
	</tr>
      </tbody>
    </table>

    <table id="time-grid">
      <tbody>
	<div id="right-now"></div>

	<tr>
	  {{#each resources}}
	  {{> resourceColumn resource=this hours=../hours}}
	  {{/each}}
	</tr>
      </tbody>
    </table>
  </div>

</script>

<script class="handlebars-template" id="t-overview" type="text/x-handlebars-template">
  <div id="relative-board" class="overview">
    {{#each resources}}
    {{> resourceRow}}
    {{/each}}
  </div>
</script>

<script class="handlebars-template" id="t-resource-row" type="text/x-handlebars-template">
  <div class="resource-row" data-id="{{id}}">
    <h1>{{name}}</h1>
    {{#each (orders_from_resource this)}}
    {{> fixedCard this}}
    {{/each}}
  </div>
</script>

<!-- Shared Templates -->
<script class="handlebars-template" id="t-resource-heading" type="text/x-handlebars-template">
  <td><h1>{{name}}</h1></td>
</script>

<script class="handlebars-template" id="t-hour" type="text/x-handlebars-template">
  <div class="hour">{{format_hour this}}</div>
</script>

<script class="handlebars-template" id="t-resource-column" type="text/x-handlebars-template">
  <td data-resource-id="{{id}}">
    <div class="markers">
      {{#each hours}}
      <div class="row-marker"></div>
      <div class="row-marker"></div>
      {{/each}}
    </div>
    {{#each (orders_from_resource this)}}
    {{> scaledCard this}}
    {{/each}}
  </td>
</script>

<script class="handlebars-template" id="t-scaled-card" type="text/x-handlebars-template">
  <div class="notecard scaled {{order_card_class this}}" id="scaled-card-{{this.id}}" style="height: {{order_height this}}; max-height: {{order_height this}}; top: {{order_top this}};">
    <div class="left-tab" style="background-color: {{order_color this}};">
    </div>

    <div class="right-tab">
      <div class="events" style="{{#if (short_order this)}}left: 5px; top: 5px;{{/if}}">{{#has_comments events}}<i class="fa fa-paperclip"></i>{{/has_comments}}</div>

      <div class="heading">
	<div class="patient-name">{{format_name this.patient_mrn.patient.name}}</div>
	<div class="patient-type">{{exam_then_order this "site_class.patient_type.patient_type"}}</div>
	<div class="mrn">{{this.patient_mrn.mrn}}</div>
      </div>

      <div class="body">
	<div class="procedure">{{exam_then_order this "procedure.description"}}</div>
	<div class="patient-location">{{this.rad_exam.site_sublocation.site_location.location}}</div>
      </div>

      <div class="footer" style="{{#if (short_order this)}}padding: 0px 2px;{{/if}}">
	<div class="left">
	  {{#if this.adjusted.anesthesia}}<div class="status-indicator anesthesia"><strong>GA</strong></div>{{/if}}
	</div>
	<div class="right">
	  {{#if this.adjusted.consent}}<div class="status-indicator consent"><i class="fa fa-handshake-o"></i></div>{{/if}}
	  {{#if this.adjusted.paperwork}}<div class="status-indicator paperwork"><i class="fa fa-file-text"></i></div>{{/if}}
	</div>
      </div>
    </div>

  <div class="hide data" data-order-id="{{this.id}}"></div>
  </div>
</script>

<script class="handlebars-template" id="t-fixed-card" type="text/x-handlebars-template">
  <div class="notecard overview {{order_card_class this}}" id="fixed-card-{{this.id}}">
    <div class="left-tab" style="background-color: {{order_color this}};">
    </div>

    <div class="right-tab">
      <div class="events">{{#has_comments events}}<i class="fa fa-paperclip"></i>{{/has_comments}}</div>

      <div class="heading">
	<div class="patient-name">{{format_name this.patient_mrn.patient.name}}</div>
	<div class="patient-type">{{exam_then_order this "site_class.patient_type.patient_type"}}</div>
	<div class="mrn">{{this.patient_mrn.mrn}}</div>
      </div>

      <div class="body">
	<div class="procedure">{{exam_then_order this "procedure.description"}}</div>
	<div class="patient-location">{{this.rad_exam.site_sublocation.site_location.location}}</div>
      </div>

      <div class="footer" style="{{#if (short_order this)}}padding: 0px 2px;{{/if}}">
	<div class="left">
	  {{#if this.adjusted.anesthesia}}<div class="status-indicator anesthesia"><strong>GA</strong></div>{{/if}}
	</div>
	<div class="right">
	  {{#if this.adjusted.consent}}<div class="status-indicator consent"><i class="fa fa-handshake-o"></i></div>{{/if}}
	  {{#if this.adjusted.paperwork}}<div class="status-indicator paperwork"><i class="fa fa-file-text"></i></div>{{/if}}
	</div>
      </div>
    </div>

    <div class="hide data" data-order-id="{{this.id}}"></div>
  </div>
</script>

<script class="handlebars-template" id="t-modal-card" type="text/x-handlebars-template">
  <div class="hide data">{{this.id}}</div>
  {{> modalCardStatus}}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{> statusToggles}}
    <h4 class="modal-title">{{format_name patient_mrn.patient.name}}</h4>
    <h5>Kiosk Number: {{kiosk_number id}}</h5>
  </div>
    <ul class="nav nav-tabs" role="tablist">
      {{#each (order_with_fellows this)}}
      <li role="presentation" class="{{#if (eq ../this.id undefined)}}active{{/if}}"><a href="#order-content-{{id}}" aria-controls="home" role="tab" data-toggle="tab">{{order_number}}</a></li>
      {{/each}}
    </ul>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
	<div class="col-xs-6">
	  <div class="tab-content">
	    {{#each (order_with_fellows this)}}
	    <div role="tabpanel" class="tab-pane {{#if (eq ../this.id undefined)}}active{{/if}}" id="order-content-{{id}}">
	      {{> demographicsTable}}
	    </div>
	    {{/each}}
	  </div>
	</div>
	<div class="col-xs-6">
	  {{> commentsInterface}}
	</div>
      </div>
    </div>
  </div>
</script>

<script class="handlebars-template" id="t-status-toggles" type="text/x-handlebars-template">
    <div class="status-toggles">
      <div class="status-toggle margin-right-sm">
	<label><i class="fa fa-hand-paper-o"></i>On Hold</label>
	<input type="checkbox" name="onhold" {{check_test this.adjusted.onhold}} data-size="mini" data-on="On Hold" data-off="Active" data-toggle="toggle" data-width="105">
      </div>
      <div class="status-toggle margin-right-sm">
	<label>Anesthesia</label>
	<input type="checkbox" name="anesthesia" {{check_test this.adjusted.anesthesia}} data-size="mini" data-on="Complete" data-off="Incomplete" data-toggle="toggle" data-width="105">
      </div>
      <div class="status-toggle margin-right-sm">
	<label><i class="fa fa-handshake-o"></i>Consent</label>
	<input type="checkbox" name="consent" {{check_test this.adjusted.consent}} data-size="mini" data-on="Complete" data-off="Incomplete" data-toggle="toggle" data-width="105">
      </div>
      <div class="status-toggle">
	<label><i class="fa fa-file-text"></i>Paperwork</label>
	<input type="checkbox" name="paperwork" {{check_test this.adjusted.paperwork}} data-size="mini" data-on="Complete" data-off="Incomplete" data-toggle="toggle" data-width="105">
      </div>
    </div>
</script>

<script class="handlebars-template" id="t-modal-card-status" type="text/x-handlebars-template">
  <div class="left-stripe" style="background-color: {{order_color this}};"></div>
</script>

<script class="handlebars-template" id="t-modal-card-loading" type="text/x-handlebars-template">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Loading...</h4>
  </div>
  <div class="modal-body">
    <%= image_tag("ajax-loader.gif") %>
  </div>
</script>

<script class="handlebars-template" id="t-demographics-table" type="text/x-handlebars-template">
  <table class="table table-bordered table-striped">
    <tbody>
      <!--{{> demographicsTableRow key="Patient Name" value=(format_name patient_mrn.patient.name)}}-->
      {{> demographicsTableRow key="Accession" value=rad_exam.accession}}
      {{> demographicsTableRow key="Order Number" value=order_number}}
      {{> demographicsTableRow key="Patient MRN" value=patient_mrn.mrn}}
      {{> demographicsTableRow key="Patient DOB" value=(format_date patient_mrn.patient.birthdate)}}
      {{> demographicsTableRow key="Patient Location" value=(patient_location this)}}
      {{> demographicsTableRow key="Patient Type" value=(exam_then_order this "site_class.patient_type.patient_type")}}
      {{> demographicsTableRow key="Patient Class" value=(site_class_name (exam_then_order this "site_class"))}}
      {{> demographicsTableRow key="Resource" value=(resource_name this)}}
      {{> demographicsTableRow key="Procedure" value=(exam_then_order this "procedure.description")}}
      {{> demographicsTableRow key="Sign In" value=(format_timestamp rad_exam.rad_exam_time.sign_in)}}
      {{> demographicsTableRow key="Check In" value=(format_timestamp rad_exam.rad_exam_time.check_in)}}
      {{> demographicsTableRow key="Appointment" value=(format_timestamp (appointment_time this))}}
      {{> demographicsTableRow key="Begin Exam" value=(format_timestamp rad_exam.rad_exam_time.begin_exam)}}
      {{> demographicsTableRow key="End Exam" value=(format_timestamp rad_exam.rad_exam_time.end_exam)}}
      {{> demographicsTableRow key="Ordering Physician" value=rad_exam.rad_exam_personnel.ordering.name}}
    </tbody>
  </table>
</script>

<script class="handlebars-template" id="t-demographics-table-row" type="text/x-handlebars-template">
  <tr>
    <th>{{key}}</th>
    <td>{{value}}</td>
  </tr>
</script>


<script class="handlebars-template" id="t-comments-interface" type="text/x-handlebars-template">
  {{> commentForm}}
  <hr />
  {{> eventList}}
</script>

<script class="handlebars-template" id="t-event-list" type="text/x-handlebars-template">
  <div class="events">
    {{#each (chronological_events events)}}
    {{render_event this}}
    {{/each}}
  </div>
</script>

<script class="handlebars-template" id="t-event-state-change" type="text/x-handlebars-template">
  <div class="event">
    <span class="avatar">{{avatar employee.id "<%= image_url('placeholder.png') %>"}}</span>
    <span class="body">
      <strong>{{employee.name}}</strong> marked {{toggle_label event_type}} {{toggle_state event_type new_state}} on <span class="time short">{{format_timestamp created_at}}</span>
    </span>
  </div>
</script>

<script class="handlebars-template" id="t-event-location-change" type="text/x-handlebars-template">
  <div class="event">
    <span class="avatar">{{avatar employee.id "<%= image_url('placeholder.png') %>"}}</span>
    <span class="body">
      <strong>{{employee.name}}</strong> moved order to <strong>{{resource_name new_state.resource_id}}</strong> to <span class="time short"><strong>{{format_timestamp new_state.start_time}}</strong></span> on <span class="time short">{{format_timestamp created_at}}</span>
    </span>
  </div>
</script>

<script class="handlebars-template" id="t-event-comment" type="text/x-handlebars-template">
  <div class="comment">
    <div class="avatar">
      <!-- should be the employee associated with the action -->
      {{avatar employee.id "<%= image_url('placeholder.png') %>"}}
    </div>
    <div class="body">
      <div class="heading">
	<!-- should be the employee associated with the action -->
	<strong>{{employee.name}}</strong> commented on <span class="time short">{{format_timestamp created_at}}</span>
      </div>
      <div class="content">
	{{comments}}
      </div>
    </div>
  </div>
</script>

<script class="handlebars-template" id="t-comment-form" type="text/x-handlebars-template">
  <form id="comment-form">
    <div class="comment">
      <div class="avatar">
	{{avatar <%= @employee.getId %> "<%= image_url('placeholder.png') %>"}}
      </div>
      <div class="body">
	<div class="heading form">
	  Add comment to the order:
	</div>
	<div class="content">
	  <textarea name="comments" class="form-control comment-box" autofocus></textarea>
	  <input type="hidden" name="order_id" value="{{id}}" />
	</div>

	<div class="footer">
	  <div class="pull-right">
	    <button class="btn btn-default add-comment">Add Comment</button>
	  </div>
	  <div style="clear: both;"></div>
	</div>

      </div>
    </div>
  </form>
</script>

<script class="handlebars-template" id="t-date-button-popover" type="text/x-handlebars-template">
  <button id="today-button" class="form-control btn btn-primary">Today</button>
  <div class="divider">
    <span>or</span>
  </div>
  <div id="view-datepicker"></div>
</script>
