<% content_for(:javascript_includes, javascript_include_tag("pages/guide")) %>
<div class="data hide" id="resource-groupings-json"><%= JSON.dump(@groupings["IR 1"]) %></div>
<div id="workspace" class="vertical-timeline">
  <%= image_tag("ajax-loader.gif") %>
</div>

<script class="handlebars-template" id="t-calendar" type="text/x-handlebars-template">


  <div id="board-headings">
    <div id="white-spacer">
    </div>

    <table id="time-headings">
      <tbody>
	<tr class="heading">
	  <td></td>
	  {{#each resources}}
	  {{> resourceHeading}}
	  {{/each}}
	</tr>
      </tbody>
    </table>
  </div>


  <div id="board">

    <table id="vertical-time-headings">
      <tbody>
	<tr>
	  <td>
	    {{#each hours}}
	    {{> hour}}
	    {{/each}}
	  </td>
	</tr>
      </tbody>
    </table>

    <table id="time-grid">
      <tbody>
	<div id="right-now"></div>

	<tr>
	  {{#each resources}}
	  {{> resourceColumn resource=this hours=../hours}}
	  {{/each}}
	</tr>
      </tbody>
    </table>
  </div>

</script>

<script class="handlebars-template" id="t-resource-heading" type="text/x-handlebars-template">
  <td><h1>{{name}}</h1></td>
</script>

<script class="handlebars-template" id="t-hour" type="text/x-handlebars-template">
  <div class="hour">{{format_hour this}}</div>
</script>

<script class="handlebars-template" id="t-resource-column" type="text/x-handlebars-template">
  <td>
    <div class="markers">
      {{#each hours}}
      <div class="row-marker"></div>
      <div class="row-marker"></div>
      {{/each}}
    </div>
    {{#each (exams_from_resource this)}}
    {{> card this}}
    {{/each}}
  </td>
</script>

<script class="handlebars-template" id="t-card" type="text/x-handlebars-template">
  <div class="notecard scaled {{#if this.onhold}}highlight{{/if}}" id="card-{{this.id}}" style="height: {{exam_height this}}; max-height: {{exam_height this}}; top: {{exam_top this}};">
    <div class="left-tab" style="background-color: {{exam_color this}};">
    </div>

    <div class="right-tab">
      <div class="heading">
	<div class="patient-name">{{format_name this.patient_mrn.patient.name}}</div>
      </div>

      <div class="body">
	<div class="procedure">{{this.procedure.description}}</div>
      </div>

      <div class="footer">
	{{#if this.anesthesia}}<div class="status-indicator anesthesia"><i class="fa fa-bed"></i></div>{{/if}}
	{{#if this.consent}}<div class="status-indicator consent"><i class="fa fa-handshake-o"></i></div>{{/if}}
	{{#if this.paperwork}}<div class="status-indicator paperwork"><i class="fa fa-file-text"></i></div>{{/if}}
      </div>
    </div>

    <div class="hide data" data-exam-id="{{this.id}}"></div>

  </div>
</script>

<script class="handlebars-template" id="t-modal-card" type="text/x-handlebars-template">
  <div class="hide data">{{this.id}}</div>
  <div class="left-stripe" style="background-color: {{exam_color this}};"></div>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="status-toggles">
      <div class="status-toggle margin-right">
	<label><i class="fa fa-bed"></i>On Hold</label>
	<input type="checkbox" name="onhold" {{check_test this.onhold}} data-size="mini" data-on="On Hold" data-off="Active" data-toggle="toggle" data-width="105">
      </div>
      <div class="status-toggle margin-right">
	<label><i class="fa fa-bed"></i>Anesthesia</label>
	<input type="checkbox" name="anesthesia" {{check_test this.anesthesia}} data-size="mini" data-on="Complete" data-off="Incomplete" data-toggle="toggle" data-width="105">
      </div>
      <div class="status-toggle margin-right">
	<label><i class="fa fa-handshake-o"></i>Consent</label>
	<input type="checkbox" name="consent" {{check_test this.consent}} data-size="mini" data-on="Complete" data-off="Incomplete" data-toggle="toggle" data-width="105">
      </div>
      <div class="status-toggle">
	<label><i class="fa fa-file-text"></i>Paperwork</label>
	<input type="checkbox" name="paperwork" {{check_test this.paperwork}} data-size="mini" data-on="Complete" data-off="Incomplete" data-toggle="toggle" data-width="105">
      </div>
    </div>
    <h4 class="modal-title">Accession: {{accession}}</h4>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
	<div class="col-xs-6">
	  {{> demographicsTable}}
	</div>
	<div class="col-xs-6">
	  {{> commentsInterface}}
	</div>
      </div>
    </div>
  </div>
</script>

<script class="handlebars-template" id="t-modal-card-loading" type="text/x-handlebars-template">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Loading...</h4>
  </div>
  <div class="modal-body">
    <%= image_tag("ajax-loader.gif") %>
  </div>
</script>

<script class="handlebars-template" id="t-demographics-table" type="text/x-handlebars-template">
  <table class="table table-bordered table-striped">
    <tbody>
      {{> demographicsTableRow key="Patient Name" value=(format_name patient_mrn.patient.name)}}
      {{> demographicsTableRow key="Patient MRN" value=patient_mrn.mrn}}
      {{> demographicsTableRow key="Patient DOB" value=(format_date patient_mrn.patient.birthdate)}}
      {{> demographicsTableRow key="Procedure" value=procedure.description}}
      {{> demographicsTableRow key="Appointment" value=(format_timestamp rad_exam_time.appointment)}}
      {{> demographicsTableRow key="Begin Exam" value=(format_timestamp rad_exam_time.begin_exam)}}
      {{> demographicsTableRow key="End Exam" value=(format_timestamp rad_exam_time.end_exam)}}
    </tbody>
  </table>
</script>

<script class="handlebars-template" id="t-demographics-table-row" type="text/x-handlebars-template">
  <tr>
    <th>{{key}}</th>
    <td>{{value}}</td>
  </tr>
</script>


<script class="handlebars-template" id="t-comments-interface" type="text/x-handlebars-template">
  <div class="comments">
    {{#each comments}}
    {{> comment}}
    {{/each}}
  </div>
  <hr />
  {{> commentForm}}
</script>

<script class="handlebars-template" id="t-comment" type="text/x-handlebars-template">
  <div class="comment">
    <div class="avatar">
      <!-- should be the employee associated with the action -->
      {{avatar employee_id "<%= image_url('placeholder.png') %>"}}
    </div>
    <div class="body">
      <div class="heading">
	<!-- should be the employee associated with the action -->
	<strong>{{employee.name}}</strong> commented on <span class="time short">{{format_timestamp created_at}}</span>
      </div>
      <div class="content">
	{{comment}}
      </div>
    </div>
  </div>
</script>

<script class="handlebars-template" id="t-comment-form" type="text/x-handlebars-template">
  <form id="comment-form">
    <div class="comment">
      <div class="avatar">
	{{avatar <%= @employee.getId %> "<%= image_url('placeholder.png') %>"}}
      </div>
      <div class="body">
	<div class="heading form">
	  Add comment to the exam:
	</div>
	<div class="content">
	  <textarea name="comments" class="form-control comment-box" autofocus></textarea>
	  <input type="hidden" name="exam_id" value="{{id}}" />
	</div>

	<div class="footer">
	  <div class="pull-right">
	    <button class="btn btn-default add-comment">Add Comment</button>
	  </div>
	  <div style="clear: both;"></div>
	</div>

      </div>
    </div>
  </form>
</script>
