<div id="<%=key%>" class="access-container col-xs-12" style="margin-bottom: 20px;">
  <h3>
    <%= "#{t('LABEL_CONFIGURE')} " + t(title) %>
    <%= render partial: "admin/icons.html.erb" %>
    <button class="update-access btn btn-primary update" data-key="<%=key%>" disabled><%= t(title) %></button>
  </h3>
  <% if defaults %>
    <h5><<%="#{t('LABEL_DEFAULTROLES')}: #{defaults.join(", ")}"%> </h5>
  <% end %>
  <table class="roles">
    <tr>
      <th><%=t('LABEL_USER_WITHOUT_ACCESS')%></th>
      <th><%=t('LABEL_USER_WITH_ACCESS')%></th>
    </tr>
    <tr>
      <td valign="top">
        <%= render partial: "role_list", locals: { items: @all_clinical_roles - @site_config.get_clinical_roles_for_key(key), parent_key: key, access: "no-access" } %>
      </td>
      <td class="should-send" data-key="" valign="top">
        <%= render partial: "role_list", locals: { items: @site_config.get_clinical_roles_for_key(key), parent_key: key, access: "all-access" } %>
      </td>
    </tr>
  </table>
</div>

