<%= content_for(:javascript_includes, javascript_include_tag("pages/admin.js")) %>
<%= content_for(:javascript_includes, javascript_include_tag("pages/role_config.js")) %>

<div class="page-header col-xs-12">
  <h1>Admin</h1>
</div>

<div class="col-xs-12">
  <h4>
    Configuration updated by: <span id="updated_by" class="text-center"><%= SiteConfiguration.get_username %></span>
  </h4>
  <h4>
    Configuration updated at: <span id="updated_at" class="text-center"><%= SiteConfiguration.get_configuration_time %></span>
  </h4>
</div>

<div class="config col-xs-12 margin-bottom icon-parent">
  <h3>
    <!-- Configure App Manuals -->
    <%= render partial: "admin/icons.html.erb" %>
  </h3>

  <% SiteConfiguration.app_manual_keys.each do |app_manual_key| %>
    <div class="margin-bottom-sm col-xs-12">

      <div class="config-param">
        <div class="form-group">
          <label for="value"><%=app_manual_key.humanize%></label>
          <div class="left">
            <input type='text' name='<%=app_manual_key%>' class='form-control' value="<%= @site_config.get_value(app_manual_key) %>"/>
          </div>
          <button class="btn btn-primary right update" disabled>Update</button>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% SiteConfiguration.role_list_keys.each do |role_list_key| %>
  <%= render partial: "simple_access.html.erb", locals: {title: role_list_key.humanize, key: role_list_key, defaults: SiteConfiguration.defaults[role_list_key.to_sym] }%>
<% end %>
