<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Airflow</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= yield(:stylesheet_includes) %>
  <%= csrf_meta_tags %>
  <%= harbingerjs_setup %>
  <%= javascript_include_tag "application" %>
  <%= javascript_tag do %>
  if (typeof application == "undefined") { application = {} }

  <% if @employee %>
  application.employee = <%= OrmConverter.attributes(@employee).to_json.html_safe %>
  <% end %>
  <% end %>
  <%= yield(:javascript_includes) %>
  <script src="http://localhost:3000/assets/app.bundle.js"></script>

  <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path("apple-touch-icon.png") %>">
  <link rel="icon" type="image/png" href="<%= asset_path("favicon-32x32.png") %>" sizes="32x32">
  <link rel="icon" type="image/png" href="<%= asset_path("android-chrome-192x192.png") %>" sizes="192x192">
  <link rel="icon" type="image/png" href="<%= asset_path("favicon-16x16.png") %>" sizes="16x16">
  <link rel="shortcut icon" href="<%= asset_path("favicon.ico") %>" type="image/x-icon" />
  <meta name="msapplication-config" content="<%= asset_path("browserconfig.xml.erb") %>" />
  <link rel="manifest" href="<%= asset_path("ai-favicon-manifest.json.erb") %>">
  <link rel="mask-icon" href="<%= asset_path("safari-pinned-tab.svg") %>" color="#003478">
  <meta name="theme-color" content="#003478">
</head>
<body>

  <!-- Start Navbar -->
  <div id="primary-navbar" class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand" id="product-line">
          <a href="/">Performance<strong>Bridge</strong></a>
        </div>
        <a class="navbar-brand" id="app-name" href="<%= url_for :controller => :main, :action => :index %>">| Airflow</a>
      </div>
      <ul class="nav navbar-nav pull-right">
        <% if params[:action].to_sym != :kiosk %>
          <%= global_view_link("Calendar","calendar", {controller: :main, action: :index, :view => "calendar"}) %>
          <%= global_view_link("Overview","overview", {controller: :main, action: :index, :view => "overview"}) %>
        <% end %>
        <%= global_view_link("Kiosk","kiosk", {controller: :kiosk, action: :index}) %>
        <% unless session[:username].blank? %>
          <% authorized(["support-staff","ai-staff", "it-staff"]) do %>
            <li class="dropdown">
              <a href="#" id="global-button-admin" role="button"
                class="dropdown-toggle <%= "active" if params["controller"] == "admin"%>" data-toggle="dropdown">Admin <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <%= global_navigation_link "Resource Groups", :controller => :resource_groups, :action => :index %>
                <li><%= link_to "Admin Manual", SiteConfiguration.get_value("admin_manual"), target: "_blank" %></li>
                <%= global_navigation_link "Site Configuration", :controller => :admin, :action => :site_configuration %>
              </ul>
            </li>
          <% end %>
        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle <%= "active" if params["controller"] == "main" and ["about", "help"].include? params["action"] %>" data-toggle="dropdown">Help<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "User Manual", SiteConfiguration.get_value("user_manual"), target: "_blank" %></li>
            <%= global_navigation_link "About", :controller => :main,  :action => :about %>
          </ul>
        </li>
        <li><a href="<%= Java::HarbingerSdk::SSO.logoutUrl() %>">Logout</a></li>
      </ul>
    </div>
  </div>

  <!-- Navbar Ends here... -->
  <%= yield %>

  <!-- Common templates -->
  <%= render partial: "layouts/common_templates" %>
</body>
</html>
